@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

@font-face {
    font-family: Cyber;
    src: url("https://assets.codepen.io/605876/Blender-Pro-Bold.otf");
    font-display: swap;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Cyber', sans-serif;
    background-color: #fefe33;
}

#actions {
    margin-bottom: 2rem;
}

#actions ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

#actions ul li {
    margin: 0 10px;
}

#right-side {
    min-width: 200px;
    margin: 0 1rem;
    flex: 1;
}

#board-holder {
    overflow-x: auto;
}

.img-thumbnail {
    width: 50px;
    padding: 0;
}

#players {
    margin-top: 2rem;
}

#logs-container, #players-container {
    max-height: 400px;
    overflow-y: auto;
}

#logs {
    overflow-y: hidden;
    border-bottom: 2px solid black
}

#rules {
}

table {
    color: #fff
}

.drawer {
    position: fixed;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    top: 100px;
    border: 1px solid black;
    z-index: 1000;

    font-size: 15px;
    max-height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
    color: white;
    background-color: #fefe33;
}

.drawer__container {
    background-color: black;
    padding: 20px;
}

.drawer h1.cyberpunk {
    color: black;
    padding: 20px;
    display:flex;
    justify-content: space-between;
}

.close-modal-button {
    cursor: pointer;
}

.user-actions {
    display: flex;
    align-items: center;
}

.user-actions button {
    margin: 0 10px;
}

.main-content {
    width: 100%;
    height: 100%;
}

.nav-link, .nav-link:active, .nav-link:hover {
    color: black
}

button:disabled {
    opacity: .3;
    pointer-events: none;
}

.event img {
    border: 1px solid black;
}

.event-date {
    font-size: 10px;
}

.list-group-item {
    border: none;
    background: transparent;
    padding-right: 0;
    padding-left: 0;
}

.list-group-item img {
    border: 1px solid black;
    margin-right: .5rem;
}


.scoreboard-button {
    margin-bottom: 1rem;
    margin-left: auto;
}

.scoreboard {
    position: fixed;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    top: 100px;
    height: 40%;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #fefe33;
    border: 1px solid black;
    z-index: 99999;
    padding: 20px;
}

.scoreboard.invisible {
    display: none;
}

.scoreboard-table {
    width: 100%;
    font-size: 20px;
}

.scoreboard-table thead {
    border-bottom: 1px solid black;
}

.scoreboard-table tbody:before {
    content: "a";
    display: block;
    line-height: .5em;
    color: transparent;
}

#poll {
    padding-left: 20px;
    /*display: flex;*/
    /*align-items: center;*/
    /*flex-wrap: wrap;*/
}

#poll .poll-inner {

    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#modal-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
