@import "modal.css";
@import "microtip.css";
@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    box-sizing: border-box;
}

body {
    /*font-family: 'Nothing You Could Do', cursive;*/
	font-family: 'Roboto', sans-serif;
    background-color: #e8d5b7;
    background-image: url('/assets/OLD_PAPER_TEXTURE.jpg');
    background-position-y: -10px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Nothing You Could Do', cursive;
}

.main-content {
	animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}


.player-picture {
	position: relative;
	top: 0px;
	left: 4px;
    width: 100px;
    height: 100px;
}

#player-image {
	padding: 4px;
}

.image-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url('/assets/ui/overlay.png');
	background-size: cover;
}


.paper-background {
    background-image: url('/assets/paper.png');
    background-size: cover;
    height: 69px;
    min-width: 134px;
    padding-top: 14px;
    padding-left: 20px;
}

#actions button, #game-ui button {
	background-image: url('/assets/ui/Button_Blue_9Slides.png');
	background-size: cover;
	display:flex;
	justify-content: center;
	align-items: center;
	height: 62px;
	width: 62px;
	font-size: 32px;
}

#actions button span {
}



.counters-background:after {
    position: relative;
    display: block;
    clear: both;
    top: -45px;
    height: 0px;
    opacity: 30%;
}

#player-actions.counters-background:after {
    content: '👊';
}

#player-health.counters-background:after {
    content: '💓';
}

#player-sight.counters-background:after {
    content: '👁';
}

#user-buffs {
    list-style: none;
    display: flex;
    flex-direction: row;
}

#user-buffs li {
    display: block;
    width: 20px;
    height: 20px;
    text-align: center;
}

#history-list {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 200px;
    list-style: none;
    padding: 0;
}

#history-list li {
    cursor: pointer;
}

#history-list li.highlight {
    background-color: #fefe33;
}

.user-actions button {
    font-weight: bold;
    border: 1px solid black;
}

.img-thumbnail {
    width: 50px;
    padding: 0;
}

#players {
    margin-top: 2rem;
}

#logs-container, #players-container {
    max-height: 400px;
    overflow-y: auto;
}

#logs {
    overflow-y: hidden;
    border-bottom: 2px solid black
}

#rules {
}

.action-description {
    padding-left: 2em;
    padding-right: 2em;
}

table {
    color: #fff
}

.spirits-table td {
    text-align: center;
}

.drawer {
    position: fixed;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    top: 100px;
    border: 1px solid black;
    z-index: 1000;

    font-size: 15px;
    max-height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
    color: white;
    background-color: #fefe33;
}

.drawer__container {
    background-color: black;
    padding: 20px;
}

.drawer h1.cyberpunk {
    color: black;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.close-modal-button {
    cursor: pointer;
}

.user-actions {
    display: flex;
    align-items: center;
}

.user-actions button {
    margin: 0 10px;
}

.main-content {
    width: 100%;
}

.nav-link, .nav-link:active, .nav-link:hover {
    color: black
}

button:disabled {
    opacity: .3;
    pointer-events: none;
}

.event {
    margin: 4px 0;
}

.event p {
    display: flex;
}

.event img {
    border: 1px solid black;
    height: 30px;
    width: 30px;
    margin: 0 10px;
}

.event-date {
    font-size: 10px;
}

.list-group-item {
    display: flex;
    margin-right: 10px;
    align-items: center;
    border: none;
    background: transparent;
    padding-right: 0;
    padding-left: 0;
}

.list-group-item img {
    border: 1px solid black;
    margin-right: .5rem;
}

#poll {
}

#poll .poll-inner {
}

.button-mid {
	background-image: url('/assets/ui/button_med.png');
	background-size: cover;
	background-repeat: no-repeat;
	width: 178px;
	height: 61px;
	font-size: 25px;
	color: white;
	text-shadow: 1px 1px 1px black;
	display: inline-block;
	margin: 0 10px;
	font-family: 'Nothing You Could Do', cursive;
}

.attack-button {
    background-color: darkred;
    color: white;
    font-weight: bold;
    border: 1px solid white;
    border-radius: 3px;
    padding: 5px 20px;
    font-size: 2rem;
}

.modal-picture {
    width: 100px;
    height: 100px;
    border: 2px solid darkred;
}


.left-banner {
	background-image: url('/assets/ui/Banner_Short_Left.png');
	background-size: cover;
	display: flex;
	flex-direction: row;
	font-size: 32px;
	width: 100px;
	height: 70px;
	padding-left: 10px;
}
.left-banner .value {
	margin-left: 15px;
	color: white;
	font-size: 45px;
}

#dialogue-options button {
	display: block;
	padding: 5px 5px;
	border-bottom: 1px solid white;
	text-align: left;
	width: 100%;
}

#dialogue-options button:hover {
	background-color: #ffffff;
	color: black;
	font-weight: bold;
}
